<!-- views/signup.ejs -->
<!doctype html>
<html ng-app="mongoang">
<head>

    <title>Sign Up</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body ng-controller="MainCtrl as main">
	<div ui-view></div>
	
</body>

<script src="js/jquery/jquery-2.1.1.min.js"></script>
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-resource.js"></script>
<script src="js/ui-router/angular-ui-router.min.js"></script>

<script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/controllers.js"></script>
</html>